body {
    background-color: #F6F6F6;

}

/* header area */
header .nav-item a.nav-link {
    border-bottom: 1px solid transparent;
    transition: border 1s
}

header .nav-item a.nav-link:hover {
    color: blue;
    font-weight: bold;
    border-bottom: 1px solid blue;
    box-sizing: border-box;
}

/* category menu area */
.categories .nav-item .nav-link {
    color: #858585;
    font-size: 1.1rem;
}

.categories .nav-item:hover {
    background-color: #EEEFFF;
}

.categories .nav-item:hover .nav-link {
    color: #5D5FEF;
}